In [1]:
import mnist_loader
import network

In [2]:
training_data, validation_data, test_data = mnist_loader.load_data_wrapper()
net = network.Network([784, 15, 10])

training_data = list(training_data)
n = len(training_data)
mini_batches = [training_data[k:k+10]
                for k in range(0, n, 10)]
print(len(mini_batches))

5000

In [3]:
net.SGD(training_data, 2, 10, 3.0, test_data=test_data)

Epoch 0: 8846 / 10000
Epoch 1: 9076 / 10000

In [8]:
s=[784, 15, 10]
for x, y in zip(s[:-1], s[1:]):
    print(x,y)
for l in range(2, 3):
    print(l)

784 15
15 10
2

In [1]:
import pandas as pd

In [43]:
df_sample = pd.DataFrame([["day1","day2","day1","day2","day1","day2"],
              ["A","B","A","B","C","C"],
              [160,150,200,150,100,50],
              [120,160,100,180,110,80]]).T
df_sample.columns = ['day_no', 'class', 'score1', 'score2']
df_sample

  day_no class score1 score2
0   day1     A    160    120
1   day2     B    150    160
2   day1     A    200    100
3   day2     B    150    180
4   day1     C    100    110
5   day2     C     50     80

In [26]:
df_sample.loc[2:3,'day_no':'score1']

  day_no class score1
2   day1     A    200
3   day2     B    150

In [27]:
score_select = pd.Series(df_sample.columns).str.contains("score")
score_select

0    False
1    False
2     True
3     True
dtype: bool

In [30]:
series_bool = [True,False,True,False,False,False]
df_sample[series_bool]

  day_no class score1 score2
0   day1     A    100    120
2   day1     A    200    100

In [32]:
df_sample.query("day_no == 'day1'")

  day_no class score1 score2
0   day1     A    100    120
2   day1     A    200    100
4   day1     C    100    110

In [35]:
select_condition = "day2"
# Do đkien bắt buộc là kiểu str nên muốn sử dụng biến số thì không thể viết 
# kiểu thông thường, cần thêm @
df_sample.query("day_no == @select_condition")

  day_no class score1 score2
1   day2     B    150    160
3   day2     B    150    180
5   day2     C     50     80

In [38]:
df_sample.query("index == 0 ")  # Lấy row có index 1
df_sample.query("index  in [1,2] ") #　or là「in」

  day_no class score1 score2
1   day2     B    150    160
2   day1     A    200    100

In [47]:
df_sample.sort_values("score1")  # Sort point1 theo thứ tự tăng dần
df_sample.sort_values(["score1","score2"])
df_sample.sort_values("score1",ascending=False)

  day_no class score1 score2
5   day2     C     50     80
4   day1     C    100    110
1   day2     B    150    160
3   day2     B    150    180
0   day1     A    160    120
2   day1     A    200    100